body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --paragraph: Raleway;
  --h4: "Cormorant Garamond";
  --font-times-new-roman: "Times New Roman";

  /* font sizes */
  --paragraph-size: 18px;
  --font-size-mini-5: 14.5px;
  --h4-size: 36px;
  --font-size-mid-7: 17.7px;
  --font-size-16xl-4: 35.4px;
  --font-size-mid-9: 17.9px;
  --font-size-52xl-4: 71.4px;
  --font-size-40xl: 59px; 
  --font-size-2xs: 11px;
  --button-size: 18px;
  --font-size-sm-5: 13.5px;
  --font-size-8xl: 27px;
  --font-size-7xl-6: 26.6px;
  --font-size-sm-3: 13.3px;
  --font-size-sm-4: 13.4px;
  --font-size-34xl-5: 53.5px;
  --font-size-24xl: 43px;

  /* Colors */
  --color-lavender: #efdffa;
  --color-black: #000;
  --color-mediumpurple-100: #a07acc;
  --color-gray: #181818;

  /* Gaps */
  --gap-smi-1: 12.1px; 
  --gap-3xs-1: 9.1px;

  /* Paddings */
  --padding-smi: 13px;
  --padding-7xl: 26px; 
  --padding-3xs-8: 9.8px;
  --padding-lgi-5: 19.5px;
}
